# IDE
.vscode/
.claude/
.cursor/

# Environnements 
.venv/

# Données générées
data/
*.parquet

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Modèles sauvegardés
*.pkl
*.joblib

# Sécurité, divers
.DS_Store
.env